In [15]:
#Create a list of the first 10 positive integers. Write a for loop that calculates and prints the sum of all numbers in the list.


numbers=list(range(1,11))
total_sum=0
for number in numbers:
    total_sum+=number
    print("sum of first 10 positive integers is", total_sum)

sum of first 10 positive integers is 1
sum of first 10 positive integers is 3
sum of first 10 positive integers is 6
sum of first 10 positive integers is 10
sum of first 10 positive integers is 15
sum of first 10 positive integers is 21
sum of first 10 positive integers is 28
sum of first 10 positive integers is 36
sum of first 10 positive integers is 45
sum of first 10 positive integers is 55

In [84]:
#Create a list of your five favorite movies. Write a for loop that prints each movie along with its position in the list (e.g., "1. Inception").


favourite_movies=("inception","The mattrix","interseller","The Dark Knight")
for index, movie in enumerate(favourite_movies,start=1):
    print(f"{index}. {movie}")

1. inception
2. The mattrix
3. interseller
4. The Dark Knight

In [88]:
#Given a list of strings representing decimal numbers (e.g., ['1.1', '2.2', '3.3']), write a for loop that converts each string to a float, doubles the value, and prints the result.


deci_strings=('1.1','2.2','3.3','4.4','5.5')
for deci_string in dec_strings:
    number=float(deci_string)
    doubled_value =number*2
    print(doubled_value)

2.2
4.4
6.6
8.8
11.0

In [89]:
#. Create a list of numbers from 1 to 20. Write a for loop that iterates through the list, converts each number to a string, and creates a new list with these string values. Print the new list.


numbers = list(range(1, 20+1))
string_numbers = []
for number in numbers:
    string_numbers.append(str(number))
print(string_numbers)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20']

In [13]:
 #⁠WAP that asks 10 user with their name and store them in a list. Print the name of only those users whose name starts with ‘a’ or ‘A’

names = []
for _ in range(10):
    name = input("Enter your name: ")
    names.append(name)
print("Names start with 'a' or 'A':")
for name in names:
    if name.lower().startswith('a'):
        print(name)

Enter your name:  asha
Enter your name:  dipa
Enter your name:  sita
Enter your name:  avi
Enter your name:  s
Enter your name:  ram
Enter your name:  hari
Enter your name:  shyam
Enter your name:  dikshya
Enter your name:  nitu

Names start with 'a' or 'A':
asha
avi

In [ ]:
# ⁠WAP that asks 10 user with their name and store them in a list. Print the name of only those users whose name ends with ‘a’ or ‘A’
names = []
for _ in range(10):
    name = input("Enter your name: ")
    names.append(name)
print("Names ends with 'a' or 'A':")
for name in names:
    if name.lower().endswith('a'):
        print(name)

Enter your name:  ram
Enter your name:  hari
Enter your name:  sita
Enter your name:  dipa
Enter your name:  lita
Enter your name:  nita
Enter your name:  dev
Enter your name:  sambhu